//░░░░░░░░░░░░░░░░░░░░░░░░
//
//     DIRECTORY
//
//     _Color
//     _Fonts
//     _Padding & Margins
//
//░░░░░░░░░░░░░░░░░░░░░░░░

//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _Color
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

.text {
    h1 {
        font-size:40px;
        color:black;
    }
    h2 {
        font-size:25px;
        color:#005da6;
    }
}

#portrait {
    box-shadow: 0 3px 4px 5px rgba(0, 0, 0, 0.58);
    border: 5px solid #0074C0;
}
.contact {
    background-color: #F4F4F4;
    color:#ADADAD;
    h3 {
        font-size:20px;
        color:black;
        border-bottom:1px solid black;
    }

    a:hover {
        color:white;
    }
}


//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _Fonts
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
.contact {
    font-family:"Myriad Pro";
}
.text {
        font-family: "Open Sans";
}
.text1{
    font-family:"Open Sans";
}
.text2 {
    font-family:"Open Sans";
}
.text3 {
    font-family:"Open Sans";
}
.text4 {
    font-family:"Open Sans";
}

//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _Padding & Margins 
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
.contact {
    text-align:center;
    margin: 100px 200px;
    padding:20px;
    ul {
        padding-top:10px;
    }
    li {
        display:inline;
        padding:20px;
    
    }
    
    h3 {
        padding-bottom:5px;
    }
}
.pictures {
    text-align:center;
    margin: 50px;
    
}
.text {
    margin: 50px 250px 50px 250px;
    padding:10px;
    text-align:center;
    h1 {
        margin-bottom:10px;
        border-bottom: 1px solid #ADADAD;
        padding: 5px 0 5px 0;
    }
    h2 {
        padding:5px 0 5px 0;
    }
}
