//░░░░░░░░░░░░░░░░░░░░░░░░
//
//     DIRECTORY
//
//     _Title
//
//░░░░░░░░░░░░░░░░░░░░░░░░

//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _Title
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

header{
    background-color:$Blue;
    padding:40px 0;
    ul{
        list-style-type:none;
    }
    
    li{
        display:inline-block;
        margin-right:10px;
    }
    
    a {
        color:$White;
        padding:15px 30px;
        text-transform:uppercase;
        
        &:hover{
            background-color:$White;
            color:$Blue;
        }
    }
}