//░░░░░░░░░░░░░░░░░░░░░░░░
//
//     DIRECTORY
//
//     _Padding & Margins
//
//░░░░░░░░░░░░░░░░░░░░░░░░

//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _Padding & Margins
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
.embed {
width: 1000px;
margin-left: auto ;
margin-right: auto ;
}
.mobileembed {
    display:none;
    
}

@media only screen and (max-width : 768px) {
    .embed {
        display:none;
    }
    .mobileembed {
        display:block;
        text-align:center;
        padding:60px 0;
        a {
            background-color:#005da6;
            padding:10px;
            color:white;
        }
    }

}